body {
    color: white;
    background-color: #131117;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: #51678a;
    text-decoration: none;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.sobre-nosCss {
    color: #51678a;
    font-family: Arial, Helvetica, sans-serif;
}
.center {
    text-align: center;
}

