#contador {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}

button {
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
}

h1 {
    color: white;
}